<li>
	{{burger_name}}

	<button class="changeEaten" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Order Another!{{else}}Devour!{{/if}}
	</button>

	{{!-- <button class="deleteBurger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
