<li>
	{{burger_name}}

	<button class="changeEaten" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour!{{else}}Order Another!{{/if}}
	</button>

	{{!-- <button class="deleteBurger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
